src/main/resources/BillingWebService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/billingService"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
                  name="BillingWebServiceService"
                  targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/billingService">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/billingService"
                   attributeFormDefault="unqualified" elementFormDefault="unqualified"
                   targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/billingService">
            <xs:element name="checkStatut" type="tns:checkStatut"/>
            <xs:element name="checkStatutResponse" type="tns:checkStatutResponse"/>
            <xs:element name="deleteAll" type="tns:deleteAll"/>
            <xs:element name="deleteAllResponse" type="tns:deleteAllResponse"/>
            <xs:element name="generateBill" type="tns:generateBill"/>
            <xs:element name="generateBillResponse" type="tns:generateBillResponse"/>
            <xs:element name="getAllPaidBills" type="tns:getAllPaidBills"/>
            <xs:element name="getAllPaidBillsResponse" type="tns:getAllPaidBillsResponse"/>
            <xs:element name="getBills" type="tns:getBills"/>
            <xs:element name="getBillsResponse" type="tns:getBillsResponse"/>
            <xs:complexType name="getBills">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getBillsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="bill_list" type="tns:bill"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="bill">
                <xs:sequence>
                    <xs:element name="billAmount" type="xs:double"/>
                    <xs:element minOccurs="0" name="billDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="billStatus" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="deliveries" nillable="true"
                                type="tns:delivery"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="idBill" type="xs:int"/>
                    <xs:element minOccurs="0" name="paymentDate" type="tns:dateTime"/>
                    <xs:element minOccurs="0" name="provider" type="tns:provider"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="delivery">
                <xs:sequence>
                    <xs:element minOccurs="0" name="bill" type="tns:bill"/>
                    <xs:element minOccurs="0" name="customer" type="tns:customer"/>
                    <xs:element name="customerMark" type="xs:int"/>
                    <xs:element name="deliveryBeginTimeInSeconds" type="xs:int"/>
                    <xs:element minOccurs="0" name="deliveryDate" type="xs:string"/>
                    <xs:element name="deliveryEndTimeInSeconds" type="xs:int"/>
                    <xs:element minOccurs="0" name="drone" type="tns:drone"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="packageDelivered" type="tns:package"/>
                    <xs:element name="price" type="xs:double"/>
                    <xs:element name="status" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="customer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="customer_deliveries" nillable="true"
                                type="tns:delivery"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="drone">
                <xs:sequence>
                    <xs:element name="batteryLife" type="xs:int"/>
                    <xs:element minOccurs="0" name="droneId" type="xs:string"/>
                    <xs:element name="flightHours" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="package">
                <xs:sequence>
                    <xs:element minOccurs="0" name="deliveryDate" type="xs:string"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="provider" type="tns:provider"/>
                    <xs:element minOccurs="0" name="registerDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="secret_number" type="xs:string"/>
                    <xs:element name="weight" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="provider">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="packages" nillable="true" type="tns:package"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="provider_bills" nillable="true"
                                type="tns:bill"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType final="extension restriction" name="dateTime">
                <xs:complexContent>
                    <xs:extension base="tns:baseDateTime">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="baseDateTime">
                <xs:complexContent>
                    <xs:extension base="tns:abstractDateTime">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="abstractDateTime">
                <xs:complexContent>
                    <xs:extension base="tns:abstractInstant">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="abstractInstant">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="droneStatus">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="checkStatut">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="checkStatutResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="check_statut" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="deleteAll">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="deleteAllResponse">
                <xs:sequence>
                    <xs:element name="delete_all" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="generateBill">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="generateBillResponse">
                <xs:sequence>
                    <xs:element name="bill_generate" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getAllPaidBills">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getAllPaidBillsResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="payed_List" type="tns:bill"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ExternalPartnerException" type="tns:ExternalPartnerException"/>
            <xs:complexType name="ExternalPartnerException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="checkStatutResponse">
        <wsdl:part element="tns:checkStatutResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteAll">
        <wsdl:part element="tns:deleteAll" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="generateBill">
        <wsdl:part element="tns:generateBill" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getBillsResponse">
        <wsdl:part element="tns:getBillsResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteAllResponse">
        <wsdl:part element="tns:deleteAllResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getBills">
        <wsdl:part element="tns:getBills" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="checkStatut">
        <wsdl:part element="tns:checkStatut" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllPaidBills">
        <wsdl:part element="tns:getAllPaidBills" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllPaidBillsResponse">
        <wsdl:part element="tns:getAllPaidBillsResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ExternalPartnerException">
        <wsdl:part element="tns:ExternalPartnerException" name="ExternalPartnerException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="generateBillResponse">
        <wsdl:part element="tns:generateBillResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BillingWebService">
        <wsdl:operation name="getBills">
            <wsdl:input message="tns:getBills" name="getBills"></wsdl:input>
            <wsdl:output message="tns:getBillsResponse" name="getBillsResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkStatut">
            <wsdl:input message="tns:checkStatut" name="checkStatut"></wsdl:input>
            <wsdl:output message="tns:checkStatutResponse" name="checkStatutResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAll">
            <wsdl:input message="tns:deleteAll" name="deleteAll"></wsdl:input>
            <wsdl:output message="tns:deleteAllResponse" name="deleteAllResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generateBill">
            <wsdl:input message="tns:generateBill" name="generateBill"></wsdl:input>
            <wsdl:output message="tns:generateBillResponse" name="generateBillResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllPaidBills">
            <wsdl:input message="tns:getAllPaidBills" name="getAllPaidBills"></wsdl:input>
            <wsdl:output message="tns:getAllPaidBillsResponse" name="getAllPaidBillsResponse"></wsdl:output>
            <wsdl:fault message="tns:ExternalPartnerException" name="ExternalPartnerException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BillingWebServiceServiceSoapBinding" type="tns:BillingWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getBills">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getBills">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getBillsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkStatut">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="checkStatut">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="checkStatutResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAll">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="deleteAll">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteAllResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generateBill">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="generateBill">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generateBillResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllPaidBills">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAllPaidBills">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllPaidBillsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ExternalPartnerException">
                <soap:fault name="ExternalPartnerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BillingWebServiceService">
        <wsdl:port binding="tns:BillingWebServiceServiceSoapBinding" name="BillingWebServicePort">
            <soap:address location="http://localhost:8000/BillingComponent/webservices/BillingWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>