src/main/resources/CustomerWebService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/customerService"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="CustomerWebServiceService"
                  targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/customerService">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/customerService"
                   attributeFormDefault="unqualified" elementFormDefault="unqualified"
                   targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/customerService">
            <xs:element name="findCustomer" type="tns:findCustomer"/>
            <xs:element name="findCustomerResponse" type="tns:findCustomerResponse"/>
            <xs:element name="registerCustomer" type="tns:registerCustomer"/>
            <xs:element name="registerCustomerResponse" type="tns:registerCustomerResponse"/>
            <xs:complexType name="registerCustomer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customer_first_name" type="xs:string"/>
                    <xs:element minOccurs="0" name="customer_last_name" type="xs:string"/>
                    <xs:element minOccurs="0" name="customer_adress" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="registerCustomerResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findCustomer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customer_name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findCustomerResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customer_find" type="tns:customer"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="customer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="customer_deliveries" nillable="true"
                                type="tns:delivery"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="delivery">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customer" type="tns:customer"/>
                    <xs:element name="customerMark" type="xs:int"/>
                    <xs:element name="deliveryBeginTimeInSeconds" type="xs:int"/>
                    <xs:element minOccurs="0" name="deliveryDate" type="xs:string"/>
                    <xs:element name="deliveryEndTimeInSeconds" type="xs:int"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="packageDelivered" type="tns:package"/>
                    <xs:element name="price" type="xs:double"/>
                    <xs:element name="status" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="package">
                <xs:sequence>
                    <xs:element minOccurs="0" name="deliveryDate" type="xs:string"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="provider" type="tns:provider"/>
                    <xs:element minOccurs="0" name="secret_number" type="xs:string"/>
                    <xs:element name="weight" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="provider">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="packages" nillable="true" type="tns:package"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="provider_bills" nillable="true"
                                type="tns:bill"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="bill">
                <xs:sequence>
                    <xs:element name="billAmount" type="xs:double"/>
                    <xs:element minOccurs="0" name="billDate" type="tns:dateTime"/>
                    <xs:element minOccurs="0" name="billStatus" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="deliveries" nillable="true"
                                type="tns:delivery"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="paymentDate" type="tns:dateTime"/>
                    <xs:element minOccurs="0" name="provider" type="tns:provider"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType final="extension restriction" name="dateTime">
                <xs:complexContent>
                    <xs:extension base="tns:baseDateTime">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="baseDateTime">
                <xs:complexContent>
                    <xs:extension base="tns:abstractDateTime">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="abstractDateTime">
                <xs:complexContent>
                    <xs:extension base="tns:abstractInstant">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="abstractInstant">
                <xs:sequence/>
            </xs:complexType>
            <xs:element name="AlreadyExistingCustomerException" type="tns:AlreadyExistingCustomerException"/>
            <xs:complexType name="AlreadyExistingCustomerException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="conflictName" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="UnknownCustomerException" type="tns:UnknownCustomerException"/>
            <xs:complexType name="UnknownCustomerException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_unknownCustomerName" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="AlreadyExistingCustomerException">
        <wsdl:part element="tns:AlreadyExistingCustomerException" name="AlreadyExistingCustomerException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UnknownCustomerException">
        <wsdl:part element="tns:UnknownCustomerException" name="UnknownCustomerException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findCustomerResponse">
        <wsdl:part element="tns:findCustomerResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="registerCustomer">
        <wsdl:part element="tns:registerCustomer" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findCustomer">
        <wsdl:part element="tns:findCustomer" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="registerCustomerResponse">
        <wsdl:part element="tns:registerCustomerResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CustomerWebService">
        <wsdl:operation name="registerCustomer">
            <wsdl:input message="tns:registerCustomer" name="registerCustomer"></wsdl:input>
            <wsdl:output message="tns:registerCustomerResponse" name="registerCustomerResponse"></wsdl:output>
            <wsdl:fault message="tns:AlreadyExistingCustomerException"
                        name="AlreadyExistingCustomerException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findCustomer">
            <wsdl:input message="tns:findCustomer" name="findCustomer"></wsdl:input>
            <wsdl:output message="tns:findCustomerResponse" name="findCustomerResponse"></wsdl:output>
            <wsdl:fault message="tns:UnknownCustomerException" name="UnknownCustomerException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CustomerWebServiceServiceSoapBinding" type="tns:CustomerWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="registerCustomer">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="registerCustomer">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="registerCustomerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AlreadyExistingCustomerException">
                <soap:fault name="AlreadyExistingCustomerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findCustomer">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findCustomer">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findCustomerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UnknownCustomerException">
                <soap:fault name="UnknownCustomerException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CustomerWebServiceService">
        <wsdl:port binding="tns:CustomerWebServiceServiceSoapBinding" name="CustomerWebServicePort">
            <soap:address location="http://localhost:8080/CustomerRegisterComponent/webservices/CustomerWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>