src/main/resources/DeliveryWebService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/deliveryService"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
                  name="DeliveryWebServiceService"
                  targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/deliveryService">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/deliveryService"
                   attributeFormDefault="unqualified" elementFormDefault="unqualified"
                   targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/deliveryService">
            <xs:element name="deleteAll" type="tns:deleteAll"/>
            <xs:element name="deleteAllResponse" type="tns:deleteAllResponse"/>
            <xs:element name="findDeliveryByDateAndHour" type="tns:findDeliveryByDateAndHour"/>
            <xs:element name="findDeliveryByDateAndHourResponse" type="tns:findDeliveryByDateAndHourResponse"/>
            <xs:element name="getAllDeliveriesOfTheDate" type="tns:getAllDeliveriesOfTheDate"/>
            <xs:element name="getAllDeliveriesOfTheDateResponse" type="tns:getAllDeliveriesOfTheDateResponse"/>
            <xs:element name="getNextDelivery" type="tns:getNextDelivery"/>
            <xs:element name="getNextDeliveryResponse" type="tns:getNextDeliveryResponse"/>
            <xs:complexType name="findDeliveryByDateAndHour">
                <xs:sequence>
                    <xs:element minOccurs="0" name="delivery_date" type="xs:string"/>
                    <xs:element minOccurs="0" name="hour_delivery" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="findDeliveryByDateAndHourResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="find_delivery" type="tns:delivery"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="delivery">
                <xs:sequence>
                    <xs:element minOccurs="0" name="bill" type="tns:bill"/>
                    <xs:element minOccurs="0" name="customer" type="tns:customer"/>
                    <xs:element name="customerMark" type="xs:int"/>
                    <xs:element name="deliveryBeginTimeInSeconds" type="xs:int"/>
                    <xs:element minOccurs="0" name="deliveryDate" type="xs:string"/>
                    <xs:element name="deliveryEndTimeInSeconds" type="xs:int"/>
                    <xs:element minOccurs="0" name="drone" type="tns:drone"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="packageDelivered" type="tns:package"/>
                    <xs:element name="price" type="xs:double"/>
                    <xs:element name="status" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="bill">
                <xs:sequence>
                    <xs:element name="billAmount" type="xs:double"/>
                    <xs:element minOccurs="0" name="billDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="billStatus" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="deliveries" nillable="true"
                                type="tns:delivery"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="idBill" type="xs:int"/>
                    <xs:element minOccurs="0" name="paymentDate" type="tns:dateTime"/>
                    <xs:element minOccurs="0" name="provider" type="tns:provider"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType final="extension restriction" name="dateTime">
                <xs:complexContent>
                    <xs:extension base="tns:baseDateTime">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="baseDateTime">
                <xs:complexContent>
                    <xs:extension base="tns:abstractDateTime">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="abstractDateTime">
                <xs:complexContent>
                    <xs:extension base="tns:abstractInstant">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="abstractInstant">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="provider">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="packages" nillable="true" type="tns:package"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="provider_bills" nillable="true"
                                type="tns:bill"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="package">
                <xs:sequence>
                    <xs:element minOccurs="0" name="deliveryDate" type="xs:string"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="provider" type="tns:provider"/>
                    <xs:element minOccurs="0" name="registerDate" type="xs:string"/>
                    <xs:element minOccurs="0" name="secret_number" type="xs:string"/>
                    <xs:element name="weight" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="customer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="customer_deliveries" nillable="true"
                                type="tns:delivery"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="drone">
                <xs:sequence>
                    <xs:element name="batteryLife" type="xs:int"/>
                    <xs:element minOccurs="0" name="droneId" type="xs:string"/>
                    <xs:element name="flightHours" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="droneStatus">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getNextDelivery">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getNextDeliveryResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="the_next_delivery" type="tns:delivery"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getAllDeliveriesOfTheDate">
                <xs:sequence>
                    <xs:element minOccurs="0" name="delivery_date" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getAllDeliveriesOfTheDateResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="all_deliveries_of_theDate"
                                type="tns:delivery"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="deleteAll">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="deleteAllResponse">
                <xs:sequence>
                    <xs:element name="delete_all" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Exception" type="tns:Exception"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ParseException" type="tns:ParseException"/>
            <xs:complexType name="ParseException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorOffset" type="xs:int"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="Exception">
        <wsdl:part element="tns:Exception" name="Exception"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getNextDeliveryResponse">
        <wsdl:part element="tns:getNextDeliveryResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteAllResponse">
        <wsdl:part element="tns:deleteAllResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getNextDelivery">
        <wsdl:part element="tns:getNextDelivery" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ParseException">
        <wsdl:part element="tns:ParseException" name="ParseException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllDeliveriesOfTheDate">
        <wsdl:part element="tns:getAllDeliveriesOfTheDate" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteAll">
        <wsdl:part element="tns:deleteAll" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findDeliveryByDateAndHourResponse">
        <wsdl:part element="tns:findDeliveryByDateAndHourResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="findDeliveryByDateAndHour">
        <wsdl:part element="tns:findDeliveryByDateAndHour" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllDeliveriesOfTheDateResponse">
        <wsdl:part element="tns:getAllDeliveriesOfTheDateResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DeliveryWebService">
        <wsdl:operation name="findDeliveryByDateAndHour">
            <wsdl:input message="tns:findDeliveryByDateAndHour" name="findDeliveryByDateAndHour"></wsdl:input>
            <wsdl:output message="tns:findDeliveryByDateAndHourResponse"
                         name="findDeliveryByDateAndHourResponse"></wsdl:output>
            <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNextDelivery">
            <wsdl:input message="tns:getNextDelivery" name="getNextDelivery"></wsdl:input>
            <wsdl:output message="tns:getNextDeliveryResponse" name="getNextDeliveryResponse"></wsdl:output>
            <wsdl:fault message="tns:ParseException" name="ParseException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllDeliveriesOfTheDate">
            <wsdl:input message="tns:getAllDeliveriesOfTheDate" name="getAllDeliveriesOfTheDate"></wsdl:input>
            <wsdl:output message="tns:getAllDeliveriesOfTheDateResponse"
                         name="getAllDeliveriesOfTheDateResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAll">
            <wsdl:input message="tns:deleteAll" name="deleteAll"></wsdl:input>
            <wsdl:output message="tns:deleteAllResponse" name="deleteAllResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DeliveryWebServiceServiceSoapBinding" type="tns:DeliveryWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="findDeliveryByDateAndHour">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="findDeliveryByDateAndHour">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="findDeliveryByDateAndHourResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getNextDelivery">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getNextDelivery">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getNextDeliveryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ParseException">
                <soap:fault name="ParseException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getAllDeliveriesOfTheDate">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getAllDeliveriesOfTheDate">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllDeliveriesOfTheDateResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAll">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="deleteAll">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteAllResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DeliveryWebServiceService">
        <wsdl:port name="DeliveryWebServicePort" binding="tns:DeliveryWebServiceServiceSoapBinding">
            <soap:address location="http://localhost:80/DeliveryComponent/webservices/DeliveryWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>