src/main/resources/PlanningWebService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/planningService"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:ns2="http://www.polytech.unice.fr/si/4a/isa/dd/customerService"
                  xmlns:ns1="http://www.polytech.unice.fr/si/4a/isa/dd/packageService"
                  name="PlanningWebServiceService"
                  targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/planningService">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/planningService"
                   attributeFormDefault="unqualified" elementFormDefault="unqualified"
                   targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/planningService">
            <xs:element name="register_delivery" type="tns:register_delivery"/>
            <xs:element name="register_deliveryResponse" type="tns:register_deliveryResponse"/>
            <xs:element name="repogramming_delivery" type="tns:repogramming_delivery"/>
            <xs:element name="repogramming_deliveryResponse" type="tns:repogramming_deliveryResponse"/>
            <xs:element name="validSlot" type="tns:validSlot"/>
            <xs:element name="validSlotResponse" type="tns:validSlotResponse"/>
            <xs:complexType name="register_delivery">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name_client" type="xs:string"/>
                    <xs:element minOccurs="0" name="number_secret" type="xs:string"/>
                    <xs:element minOccurs="0" name="delivery_date" type="xs:string"/>
                    <xs:element minOccurs="0" name="hour_delivery" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="register_deliveryResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="register_delivery" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="repogramming_delivery">
                <xs:sequence>
                    <xs:element minOccurs="0" name="old_date" type="xs:string"/>
                    <xs:element minOccurs="0" name="old_hour" type="xs:string"/>
                    <xs:element minOccurs="0" name="delivery_date" type="xs:string"/>
                    <xs:element minOccurs="0" name="hour_delivery" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="repogramming_deliveryResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="repogramming_delivery" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="validSlot">
                <xs:sequence>
                    <xs:element minOccurs="0" name="delivery_date" type="xs:string"/>
                    <xs:element minOccurs="0" name="hour_delivery" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="validSlotResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="valid_slot" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="UnvailableSlotTimeException" type="tns:UnvailableSlotTimeException"/>
            <xs:complexType name="UnvailableSlotTimeException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="hourUnvailable" type="xs:string"/>
                    <xs:element minOccurs="0" name="dateUnvailable" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="PackageAlreadyTookException" type="tns:PackageAlreadyTookException"/>
            <xs:complexType name="PackageAlreadyTookException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="number" type="xs:string"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ParseException" type="tns:ParseException"/>
            <xs:complexType name="ParseException">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorOffset" type="xs:int"/>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/packageService"
                    attributeFormDefault="unqualified" elementFormDefault="unqualified"
                    targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/packageService">
            <xsd:element name="UnknownPackageException" type="tns:UnknownPackageException"/>
            <xsd:complexType name="UnknownPackageException">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="secret_number_not_found" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="message" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/customerService"
                    attributeFormDefault="unqualified" elementFormDefault="unqualified"
                    targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/customerService">
            <xsd:element name="UnknownCustomerException" type="tns:UnknownCustomerException"/>
            <xsd:complexType name="UnknownCustomerException">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="_unknownCustomerName" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="message" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="PackageAlreadyTookException">
        <wsdl:part element="tns:PackageAlreadyTookException" name="PackageAlreadyTookException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validSlot">
        <wsdl:part element="tns:validSlot" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="ParseException">
        <wsdl:part element="tns:ParseException" name="ParseException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="register_delivery">
        <wsdl:part element="tns:register_delivery" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UnvailableSlotTimeException">
        <wsdl:part element="tns:UnvailableSlotTimeException" name="UnvailableSlotTimeException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="repogramming_deliveryResponse">
        <wsdl:part element="tns:repogramming_deliveryResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="register_deliveryResponse">
        <wsdl:part element="tns:register_deliveryResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UnknownPackageException">
        <wsdl:part element="ns1:UnknownPackageException" name="UnknownPackageException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="repogramming_delivery">
        <wsdl:part element="tns:repogramming_delivery" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="UnknownCustomerException">
        <wsdl:part element="ns2:UnknownCustomerException" name="UnknownCustomerException"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validSlotResponse">
        <wsdl:part element="tns:validSlotResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PlanningWebService">
        <wsdl:operation name="register_delivery">
            <wsdl:input message="tns:register_delivery" name="register_delivery"></wsdl:input>
            <wsdl:output message="tns:register_deliveryResponse" name="register_deliveryResponse"></wsdl:output>
            <wsdl:fault message="tns:UnknownCustomerException" name="UnknownCustomerException"></wsdl:fault>
            <wsdl:fault message="tns:UnvailableSlotTimeException" name="UnvailableSlotTimeException"></wsdl:fault>
            <wsdl:fault message="tns:UnknownPackageException" name="UnknownPackageException"></wsdl:fault>
            <wsdl:fault message="tns:ParseException" name="ParseException"></wsdl:fault>
            <wsdl:fault message="tns:PackageAlreadyTookException" name="PackageAlreadyTookException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="repogramming_delivery">
            <wsdl:input message="tns:repogramming_delivery" name="repogramming_delivery"></wsdl:input>
            <wsdl:output message="tns:repogramming_deliveryResponse" name="repogramming_deliveryResponse"></wsdl:output>
            <wsdl:fault message="tns:UnvailableSlotTimeException" name="UnvailableSlotTimeException"></wsdl:fault>
            <wsdl:fault message="tns:ParseException" name="ParseException"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validSlot">
            <wsdl:input message="tns:validSlot" name="validSlot"></wsdl:input>
            <wsdl:output message="tns:validSlotResponse" name="validSlotResponse"></wsdl:output>
            <wsdl:fault message="tns:ParseException" name="ParseException"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PlanningWebServiceServiceSoapBinding" type="tns:PlanningWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="register_delivery">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="register_delivery">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="register_deliveryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UnknownCustomerException">
                <soap:fault name="UnknownCustomerException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="UnvailableSlotTimeException">
                <soap:fault name="UnvailableSlotTimeException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="UnknownPackageException">
                <soap:fault name="UnknownPackageException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="ParseException">
                <soap:fault name="ParseException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="PackageAlreadyTookException">
                <soap:fault name="PackageAlreadyTookException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="repogramming_delivery">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="repogramming_delivery">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="repogramming_deliveryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UnvailableSlotTimeException">
                <soap:fault name="UnvailableSlotTimeException" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="ParseException">
                <soap:fault name="ParseException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validSlot">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="validSlot">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="validSlotResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ParseException">
                <soap:fault name="ParseException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PlanningWebServiceService">
        <wsdl:port binding="tns:PlanningWebServiceServiceSoapBinding" name="PlanningWebServicePort">
            <soap:address location="http://localhost:8000/PlanningComponent/webservices/PlanningWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>